/* html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
}

.panel {
  width: 100vw;
  height: 100vh;
}

.gradient {
  background: linear-gradient(270deg, #E7D7DD 11.83%, #9186C9 96.01%);
}
.container {
	width: 400%;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
}

.ham {
  cursor: pointer;
  transition: transform 400ms;
  user-select: none;
  margin-left: 8px;
  height: 36px;


  &.hamRotate.active {
    transform: rotate(45deg);
  }

  &.hamStyle {
    .top {
      stroke-dasharray: 40 82;
    }

    .middle {
      stroke-dasharray: 40 111;
    }

    .bottom {
      stroke-dasharray: 40 161;
    }

    &.active {
      z-index: 11;

      .top {
        stroke-dasharray: 17 82;
        stroke-dashoffset: -62px;
      }

      .middle {
        stroke-dashoffset: 23px;
      }

      .bottom {
        stroke-dashoffset: -83px;
      }
    }
  }

  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000000;
    stroke-width: 5;
    stroke-linecap: round;
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-y: visible;
	overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
  padding: 0 20px;
}

html {
  /* overflow-y: scroll; */
  height: 100%;
  /* -webkit-overflow-scrolling: touch; */
  /* overflow-scrolling: touch; */
}

.gradient {
  background: linear-gradient(270deg, #E7D7DD 11.83%, #9186C9 96.01%);
}

#container {
	height: 100vh;
	/* set width based on sections */
	width: 100vw;
	display: flex;
	flex-wrap: nowrap;
}

.horizontal-section {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .horizontal-section:nth-child(1) {
	background-image: url("https://images.pexels.com/photos/2249527/pexels-photo-2249527.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.horizontal-section:nth-child(2) {
	background-image: url("https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.horizontal-section:nth-child(3) {
	background-image: url("https://images.pexels.com/photos/1517076/pexels-photo-1517076.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.horizontal-section:nth-child(4) {
	background-image: url("https://images.pexels.com/photos/1037996/pexels-photo-1037996.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
} */

.heading {
	font-family: "Oswald", sans-serif;
	font-size: 8vw;
	font-weight: 300;
	color: white;
	letter-spacing: 1vw;
	text-transform: uppercase;
}
